p {
  color: white;
}

hr {
  color: white;
}

h1 {
  font-size: 55px;
}

a {
  color: white;
}

i {
  color: white;
}

.small {
  font-size: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

.alignright {
  float: right;
}

.bottomspace {
  padding-bottom: 20px;
}

.orange {
  color: #ee5728;
}

a {
  text-decoration: none;
}

.darker {
  background-color: #1744c2;
  min-width: 100%;
  max-width: 200px;
}

.padd {
  padding-left: 0px;
}

small {
  font-size: 13px;
}

.border1 {
  border-style: solid;
  border-radius: 15px;
  max-width: 550px;
  text-align: center;
  align-content: center;
}

.nav-item:hover {
  color: white;
}

a {
  color: inherit;
}

li:hover {
  color: white;
}

.nav-item:hover {
  color: white;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  color: white;
}

span {
  color: white;
}

white {
  color: white;
}

.padvert {
  padding-top: 30px;
}

.border2 {
  border-style: solid;
  border-radius: 10px;
  max-width: 550px;
  text-align: center;
  align-content: center;
  padding: 14px;
  color: white;
  border-width: 1px;
}

vsmall {
  font-size: 15px;
}

rotate {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(90deg);
}

